<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <meta name="description" content="{{.Description}}" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
        ></script>
        <title>{{.Title}}</title>
    </head>
    <body>
        <header>...</header>
        <nav class="container">
            <ul>
                <li><strong>{{.PageTitle}}</strong></li>
            </ul>
            <ul>
                {{range .NavItems}}
                <li>
                    <a href="{{.Link}}" {{if .IsCurrent}}class="current" {{end}}
                        >{{.Text}}</a
                    >
                </li>
                {{end}}
            </ul>
        </nav>
        <main class="container">{{embed}}</main>
        <footer>...</footer>
    </body>
</html>
